@use "./color" as c;
@use "./fonts" as f;

// .footer-section a:hover {
// 	color: c.$hover_text_color;
// }

.footer {
	display: grid;
    box-sizing: border-box;
	width: 100%;
	background-color: c.$footer_bgc;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2rem;
	gap: 3rem;
	color: white;
	.footer__section {
		display: flex;
		flex-direction: column;
        box-sizing: border-box; 
		margin-right: 4rem;
		h3 {
			width: 100%;
			border-bottom: 1px solid c.$h3_border_color;
			position: relative;
			padding-bottom: 2rem;
			.orange_mark {
				position: absolute;
				left: 0;
				bottom: -1px;
				z-index: 2;
				width: 30px;
				height: 1px;
				color: orangered;
				background-color: orangered;
			}
		}
		a {
			display: grid;
			gap: 2rem;
            text-decoration: none;
			padding: 0;
			margin-top: 1.5rem;
			font-size: 0.8rem;
			color: rgb(184, 180, 180);
		}
	}
}
.footer__cpr {
	display: grid;
    box-sizing: border-box;
	width: 100%;
	height: 40px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.cr_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.fac_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (min-width: 830px) {
	.footer {
		position: absolute;
        box-sizing: border-box;
        bottom: 0rem;
		max-width: 100%;
		background-color: c.$footer_bgc;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 2rem;
		gap: 3rem;
		color: white;
		.footer__section {
			display: flex;
			flex-direction: column;
			margin-right: 4rem;
			h3 {
				width: 100%;
				border-bottom: 1px solid c.$h3_border_color;
				position: relative;
				padding-bottom: 2rem;
				.orange_mark {
					position: absolute;
					left: 0;
					bottom: -1px;
					z-index: 2;
					width: 30px;
					height: 1px;
					color: orangered;
					background-color: orangered;
				}
			}
			a {
				display: grid;
				gap: 2rem;
				padding: 0;
				margin-top: 1.5rem;
				font-size: 0.8rem;
				color: rgb(184, 180, 180);
			}
			a:hover {
				color: c$hover_text_color;
			}
		}
	}
}

@media screen and (width < 860px) {
	.footer {
		grid: none;
        max-width: 100%;
	}
	.ArrowRotate span {
		rotate: 180deg;
		top: 20px;
	}
	.footer__section span {
		position: absolute;
		right: 0;
		font-size: 40px;
		transform: rotate(-180deg);
		transition: 0.6s;
	}
	a {
		z-index: 10;
	}
}

.footer__list {
	list-style: none;
	li {
		display: none;
	}
	h3 {
		cursor: pointer;
	}
}

.ShowPop {
	li {
		display: flex;
		animation: 1.5s linear both slide;
	}
}

@keyframes slide {
	from {
		max-height: 0%;
	}
	to {
		max-height: 100%;
	}
}

.footer__list span {
	display: none;
}

@media screen and (min-width: 835px) {
	h3 span {
		display: none;
	}
}
