@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?eyslk1");
  src: url("../fonts/icomoon.eot?eyslk1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?eyslk1") format("truetype"), url("../fonts/icomoon.woff?eyslk1") format("woff"), url("../fonts/icomoon.svg?eyslk1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-box:before {
  content: "\e900";
}

.icon-phone:before {
  content: "\e901";
}

.icon-star:before {
  content: "\e902";
}

.icon-person:before {
  content: "\e903";
}

.icon-right_arrow:before {
  content: "\e904";
}

.icon-left_arrow:before {
  content: "\e905";
}

.icon-card:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-widok_01:before {
  content: "\e908";
}

.icon-widok_02:before {
  content: "\e909";
}

.icon-wysylka:before {
  content: "\e90a";
}

.icon-x:before {
  content: "\e90b";
}

@font-face {
  font-family: Metropolis-Black;
  src: url("../fonts/Metropolis-Black.otf");
}
@font-face {
  font-family: Metropolis-BlackItalic;
  src: url("../fonts/Metropolis-BlackItalic.otf");
}
@font-face {
  font-family: Metropolis-Bold;
  src: url("../fonts/Metropolis-Bold.otf");
}
@font-face {
  font-family: Metropolis-BoldItalic;
  src: url("../fonts/Metropolis-BoldItalic.otf");
}
@font-face {
  font-family: Metropolis-ExtraBold;
  src: url("../fonts/Metropolis-ExtraBold.otf");
}
@font-face {
  font-family: Metropolis-ExtraBoldItalic;
  src: url("../fonts/Metropolis-ExtraBoldItalic");
}
@font-face {
  font-family: Metropolis-ExtraLight;
  src: url("../fonts/Metropolis-ExtraLight");
}
@font-face {
  font-family: Metropolis-ExtraLightItalic;
  src: url("../fonts/Metropolis-ExtraLightItalic");
}
@font-face {
  font-family: Metropolis-Light;
  src: url("../fonts/Metropolis-Light.otf");
}
@font-face {
  font-family: Metropolis-LightItalic;
  src: url("../fonts/Metropolis-LightItalic");
}
@font-face {
  font-family: Metropolis-Medium;
  src: url("../fonts/Metropolis-Medium");
}
@font-face {
  font-family: Metropolis-MediumItalic;
  src: url("../fonts/Metropolis-MediumItalic");
}
@font-face {
  font-family: Metropolis-Regular;
  src: url("../fonts/Metropolis-Regular");
}
@font-face {
  font-family: Metropolis-RegularItalic;
  src: url("../fonts/Metropolis-RegularItalic");
}
@font-face {
  font-family: Metropolis-SemiBold;
  src: url("../fonts/Metropolis-SemiBold");
}
@font-face {
  font-family: Metropolis-SemiBoldItalic;
  src: url("../fonts/Metropolis-SemiBoldItalic");
}
@font-face {
  font-family: Metropolis-Thin;
  src: url("../fonts/Metropolis-Thin");
}
@font-face {
  font-family: Metropolis-ThinItalic;
  src: url("../fonts/Metropolis-ThinItalic");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  position: relative;
  background-color: #f2f3f4;
  color: #fff;
  height: 300vh;
}

a {
  text-decoration: none;
  z-index: 10;
  color: #111111;
  transition: color 0.3s;
}

a:hover {
  color: #9bcb3b;
  transition: color 0.5s;
}

.main_banner {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: auto;
  margin-top: 5rem;
}

.main_banner-img {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  width: 100%;
  height: 99%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.main_banner-img p {
  margin: 0;
  padding-left: 8rem;
}
.main_banner-img button {
  font-family: Metropolis-Bold;
}

.banner_container {
  position: relative;
}
.banner_container img {
  max-width: 100%;
}

.main_banner-img .main_p {
  font-family: Metropolis-Bold;
  font-size: 2.5rem;
}

.main_banner-img .main_p_second {
  font-family: Metropolis-Light;
  font-size: 2.5rem;
}

.main_banner-img .main_p_third {
  font-family: Metropolis-Light;
  font-size: 1.25rem;
  max-width: 40rem;
  margin: 1.5rem 0;
}

.main_banner-img-second {
  background-image: url(../photos/img_08.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: cover;
}

.banner_control-left {
  z-index: 30;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.3rem 1.3rem;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.24);
  cursor: pointer;
  margin: auto 0;
  transition: 0.5s;
}
.banner_control-left img {
  width: 1rem;
}

.banner_control-right {
  z-index: 30;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.3rem 1.3rem;
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: auto 0 auto auto;
  transition: 0.5s;
}
.banner_control-right img {
  width: 1rem;
}

.banner_control-left,
.banner_control-right {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_control-left .icon-left_arrow,
.banner_control-left .icon-right_arrow,
.banner_control-right .icon-left_arrow,
.banner_control-right .icon-right_arrow {
  color: #323940;
}

.main_banner-img button {
  background-color: #f74137;
  padding: 1rem 2.5rem;
  color: white;
  border: none;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 8rem;
  cursor: pointer;
  transition: 0.4s;
}

.active__banner--one {
  position: absolute;
  display: none;
}

.active__banner--two {
  position: absolute;
  display: none;
}

@media screen and (width < 900px) {
  .secondary__banner__section {
    flex-wrap: wrap;
  }
}
.check__why__us {
  height: 595px;
  width: 100%;
}
.check__why__us .bg__why__us {
  background-image: url("../photos/img_07.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 595px;
  width: 100%;
}
.check__why__us .bg__why__us .why__us {
  font-family: Metropolis-Bold;
  font-size: 44px;
  color: white;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 20px;
}
.check__why__us .bg__why__us .line__red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1px;
  width: 100%;
  background-color: #e1e2e8;
}
.check__why__us .bg__why__us .line__red .line__grey {
  height: 3px;
  width: 60px;
  background-color: #f74137;
  border-radius: 25px;
}
.check__why__us .bg__why__us .why__us2 {
  font-family: Metropolis-Regular;
  font-size: 18px;
  color: white;
  text-align: center;
  padding-top: 3.3rem;
  padding-bottom: 0.99rem;
}
.check__why__us .bg__why__us .banners {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.check__why__us .bg__why__us .banners .fast__shipping {
  height: 153px;
  width: 310px;
  padding-top: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.5215686275);
  margin-left: 10px;
  margin-right: 10px;
}
.check__why__us .bg__why__us .banners .fast__shipping .picture1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}
.check__why__us .bg__why__us .banners .fast__shipping .picture1 img {
  height: 4rem;
}
.check__why__us .bg__why__us .banners .fast__shipping .paragraph1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.check__why__us .bg__why__us .banners .fast__shipping .paragraph1 p {
  font-family: Metropolis-Bold;
  font-size: 14px;
  color: white;
  margin-top: 3.4rem;
}
.check__why__us .bg__why__us .banners .wide__range {
  height: 153px;
  width: 310px;
  padding-top: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.5215686275);
  margin-right: 10px;
}
.check__why__us .bg__why__us .banners .wide__range .picture2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}
.check__why__us .bg__why__us .banners .wide__range .picture2 img {
  height: 4rem;
}
.check__why__us .bg__why__us .banners .wide__range .paragraph2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.check__why__us .bg__why__us .banners .wide__range .paragraph2 p {
  font-family: Metropolis-Bold;
  font-size: 14px;
  color: white;
  margin-top: 3.4rem;
}
.check__why__us .bg__why__us .banners .safe__return {
  height: 153px;
  width: 310px;
  padding-top: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.5215686275);
  margin-right: 10px;
}
.check__why__us .bg__why__us .banners .safe__return .picture3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.8rem;
}
.check__why__us .bg__why__us .banners .safe__return .picture3 img {
  height: 4.6rem;
}
.check__why__us .bg__why__us .banners .safe__return .paragraph3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
}
.check__why__us .bg__why__us .banners .safe__return .paragraph3 p {
  font-family: Metropolis-Bold;
  font-size: 14px;
  color: white;
  margin-top: 3.4rem;
}
.check__why__us .bg__why__us .company__information {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 2rem;
}
.check__why__us .bg__why__us .company__information .rectangle__company__information {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 246px;
  background-color: #f74137;
  opacity: 0.94;
  cursor: pointer;
  transition: 0.5s;
}
.check__why__us .bg__why__us .company__information .rectangle__company__information p {
  font-family: Metropolis-Bold;
  color: white;
}
.check__why__us .bg__why__us .company__information .rectangle__company__information:hover {
  opacity: 1;
  scale: 1.01;
}

.rectangle__inspiration {
  display: flex;
  justify-content: center;
  padding-top: 2.77rem;
}
.rectangle__inspiration .see__all__inspirations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 318px;
  margin-bottom: 30px;
  background-color: #f74137;
  opacity: 0.94;
  transition: 0.5s;
  cursor: pointer;
}
.rectangle__inspiration .see__all__inspirations p {
  font-family: Metropolis-Bold;
  color: #ffffff;
  font-size: 14px;
}
.rectangle__inspiration .see__all__inspirations:hover {
  opacity: 1;
  scale: 1.01;
}

.main_banner-img button:hover {
  scale: 1.07;
}

.banner_control-left:hover {
  background-color: rgba(242, 243, 244, 0.3764705882);
  scale: 1.07;
  transition: scale 0.3s;
}

.banner_control-right:hover {
  background-color: rgba(242, 243, 244, 0.3764705882);
  scale: 1.07;
  transition: scale 0.3s;
}

.see {
  position: absolute;
  left: -110%;
  transform: translateX(110%);
  transition: 0.5s;
}

.saw {
  position: absolute;
  left: -110%;
  transform: translateX(110%);
  transition: 0.5s;
}

@media screen and (min-width: 992px) {
  .main_banner {
    margin-top: 1.7rem;
  }
}
@media screen and (550px < width < 721px) {
  .main_banner-img .main_p {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Light;
    font-size: 2rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Regular;
    font-size: 0.75rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.5rem 0.5rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (625px < width < 721px) {
  .main_banner-img .main_p {
    font-family: Metropolis-Bold;
    font-size: 1.8rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img .main_p_third {
    font-family: Metropolis-Light;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.5rem 0.5rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (550px < width < 625px) {
  .main_banner-img p:first-of-type {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(2) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(3) {
    font-family: Metropolis-Regular;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (550px < width < 550px) {
  .main_banner-img p:first-of-type {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(2) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(3) {
    font-family: Metropolis-Regular;
    font-size: 0.5rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (width < 550px) {
  .main_banner-img p:first-of-type {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(2) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(3) {
    font-family: Metropolis-Regular;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (width < 375px) {
  .main_banner-img p:first-of-type {
    font-size: 1rem;
  }
  .main_banner-img p:nth-of-type(2) {
    font-family: Metropolis-Light;
    font-size: 0px;
  }
  .main_banner-img p:nth-of-type(3) {
    font-size: 0px;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    font-size: 15px;
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    margin-bottom: 1px;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (min-width: 992px) {
  .main_banner {
    margin-top: 1.7rem;
  }
}
@media screen and (550px < width < 721px) {
  .main_banner-img .main_p {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Light;
    font-size: 2rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Regular;
    font-size: 0.75rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.5rem 0.5rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (625px < width < 721px) {
  .main_banner-img .main_p {
    font-family: Metropolis-Bold;
    font-size: 1.8rem;
  }
  .main_banner-img .main_p_second {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img .main_p_third {
    font-family: Metropolis-Light;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.5rem 0.5rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (550px < width < 625px) {
  .main_banner-img p:nth-of-type(4) {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(5) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:last-of-type {
    font-family: Metropolis-Regular;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (550px < width < 550px) {
  .main_banner-img p:nth-of-type(4) {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(5) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:last-of-type {
    font-family: Metropolis-Regular;
    font-size: 0.5rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (width < 550px) {
  .main_banner-img p:nth-of-type(4) {
    font-family: Metropolis-Bold;
    font-size: 1.5rem;
  }
  .main_banner-img p:nth-of-type(5) {
    font-family: Metropolis-Light;
    font-size: 1.5rem;
  }
  .main_banner-img p:last-of-type {
    font-family: Metropolis-Regular;
    font-size: 0.7rem;
    max-width: 20rem;
    margin: 0.5rem 0;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    cursor: pointer;
    transition: 0.4s;
  }
}
@media screen and (width < 375px) {
  .main_banner-img p:nth-of-type(4) {
    font-size: 1rem;
  }
  .main_banner-img p:nth-of-type(5) {
    font-family: Metropolis-Light;
    font-size: 0px;
  }
  .main_banner-img p:last-of-type {
    font-size: 0px;
  }
  .main_banner-img p {
    margin: 0;
    padding-left: 5rem;
  }
  .main_banner-img button {
    font-size: 15px;
    background-color: #f74137;
    padding: 0.3rem 0.3rem;
    color: white;
    border: none;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-left: 5rem;
    margin-bottom: 1px;
    cursor: pointer;
    transition: 0.4s;
  }
}
.secondary__banner__section {
  display: flex;
  justify-content: space-around;
}

.secondary__banner {
  display: inline-flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem 1rem 1rem;
  /* width: 100%; */
  gap: 1rem;
  max-height: 20rem;
  overflow: hidden;
  transition: 0.4s;
}

.secondary__banner__container__1,
.secondary__banner__container__2,
.secondary__banner__container__3 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  min-height: 20rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.quick__helpers__option {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 2rem;
}

.quick__helpers__option > p {
  margin: 0;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

.secondary__banner__container__1 {
  background-image: url("../photos/img_02.jpg");
  background-position: right;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  width: 600px;
  height: 400px;
  transition: 0.4s;
}

.secondary__banner__container__2 {
  background-image: url("../photos/img_03.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 600px;
  height: 400px;
  transition: 0.4s;
}

.secondary__banner__container__3 {
  background-image: url("../photos/img_05.jpg");
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  width: 600px;
  height: 400px;
  transition: 0.4s;
}

.secondary__banner__container__1:hover {
  scale: 1.01;
}

.secondary__banner__container__2:hover {
  scale: 1.01;
}

.secondary__banner__container__3:hover {
  scale: 1.01;
}

.quick__helpers__option button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-left: 2rem;
  margin-top: 1.5rem;
  transition: 0.5s;
  cursor: pointer;
}
.quick__helpers__option button {
  font-family: Metropolis-Bold;
}
.quick__helpers__option button:hover {
  background-color: #f74137;
}
.quick__helpers__option p {
  padding-bottom: auto auto 5rem auto;
  font-size: 1.5rem;
}
.quick__helpers__option p:first-of-type {
  font-family: Metropolis-Bold;
  letter-spacing: 0.5px;
  font-size: 2rem;
  padding: 0 0 0 2rem;
}
.quick__helpers__option p:last-of-type {
  font-family: Metropolis-Light;
  font-size: 1.75rem;
  letter-spacing: 1px;
  padding: 0 0 0 2rem;
}/*# sourceMappingURL=main.css.map */