$main_color_text: #111111;
$background_color: #ffffff;
$hover_text_color: rgb(16, 241, 46);
$header_bg: #fff;
$line_color: #454747;
$footer_bgc: #22262c;
$h3_border_color: #777777;
$nav_bg: #e1e2e8;
$buttons: #f74137;
$grey1: #323940;
$grey2: #a3a3a3;
