
// General

$main_color_text: #111111;
$hover_text_color: #9bcb3b;
$crossed_text: #A3A3A3;
$header_bg: #fff;
$line_color: #E1E2E8;
$other_white: #F8F8F8;
$footer_bgc: #22262c;
$h3_border_color: #777777;
$nav_bg: #E1E2E8;
$basket_color: #9BCB3B;