// General

$main_color_text: #111111;
$hover_text_color: #9bcb3b;
$crossed_text: #a3a3a3;
$header_bg: #fff;
$line_color: #e1e2e8;
$other_white: #f8f8f8;
$footer_bgc: #22262c;
$h3_border_color: #777777;
$nav_bg: #e1e2e8;
$basket_color: #9bcb3b;
$arrow_color: #c1c2c6;
$red: #f74137;
