@use "./color" as c;
@use "./fonts" as f;

.header__basket-box ul {
	list-style-type: none;
}

.header__contact {
	z-index: 100;
	justify-content: right;
	padding: 0 1rem 0 1rem;
}
.header__favorite {
	z-index: 100;
	justify-content: right;
	padding: 0 1rem 0 1rem;
}
.header__accont {
	z-index: 100;
	padding-left: 0;
	justify-content: right;
	padding: 0 1rem 0 1rem;
}
.header {
	font-family: Metropolis-Bold;
	position: fixed;
	bottom: 0;
	display: flex;
	justify-content: auto;
	width: 100%;
	max-width: 100vw;
	height: 100px;
	border-top: 1px solid c.$main_color_text;
	border-bottom: 1px solid c.$main_color_text;
	flex-wrap: wrap;
	background-color: c.$header_bg;
	z-index: 1005;
}

.header__icon--move {
	width: fit-content;
}
.header__item__logo {
	position: relative;
	opacity: 1;
	display: flex;
	justify-items: left;
	align-items: left;
	margin: 1rem;
}
.header__logo-mobile {
	margin: 1rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	opacity: 1;
	background-color: c.$header_bg;
	z-index: 1003;
}
.header__logo-mobile a {
	height: 1rem;
}

.header__item {
	letter-spacing: -0.28px;
	padding-right: 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	text-transform: uppercase;
	.header__accont {
		padding-right: 1rem;
	}
	.header__basket {
		display: flex;
		cursor: pointer;
		position: relative;
		justify-content: right;
	}
	.header__basket-box {
		display: flex;
		justify-content: right;
		padding-top: 1.6rem;
		padding-bottom: 1.2rem;
		align-items: center;
		width: 12rem;
		font-size: 14px;
		background-color: #ffffff;
		p {
			.your__basket {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #161616;
				padding-bottom: 0.2rem;
			}
			.price {
				color: #a3a3a3;
				text-align: left;
			}
		}
	}
	.header__box-left {
		display: flex;
		align-self: center;
	}
	.header__box-right {
		position: absolute;
		display: flex;
		align-self: center;
		opacity: 0;
	}
	.icon {
		color: c.$main_color_text;
		font-size: 30px;
		padding: 1rem;
	}
	.header__icon {
		font-size: 30px;
		padding: 0.1rem;
	}
	.cart__amount {
		background-color: c.$basket_color;
		position: absolute;
		top: 1.4rem;
		left: 2.8rem;
		color: white;
		font-size: 0.6rem;
		padding: 0.15rem;
		// width: 10%;
	}
	.icon-card {
		border-right: 0.5px solid c.$line_color;
	}
	.icon-right_arrow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 1px;
		border-left: 0.5x solid c.$line_color;
		background-color: #9bcb3b;
	}
}
.header__basket-box__hidden p {
	font-family: Metropolis-Bold;
	display: inline;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.nav__logo {
	position: relative;
	width: 100%;
	height: 140px;
	background-color: c.$header_bg;
	border-bottom: 0.5px solid c.$line_color;
	border-top: 0.5px solid c.$line_color;
	opacity: 1;
	z-index: 1001;
}
.nav__logo-second {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid c.$line_color;
	opacity: 1;
	z-index: 1002;
	background-color: c.$header_bg;
}

nav {
	position: relative;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 60px;
	border-top: 1px solid c.$line_color;
	border-bottom: 1px solid c.$line_color;
	flex-wrap: wrap;
	background-color: c.$header_bg;
	z-index: 1002;
}
.nav__items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.2rem;
	flex-wrap: nowrap;
	text-transform: uppercase;
	.nav__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.7rem;
		padding: 0 1rem;
		width: auto;
	}
}

@media screen and (min-width: 1014px) {
	.menu__wrapper {
		position: absolute;
	}
	.header__logo-mobile {
		opacity: 0;
	}
	.nav__logo {
		width: 100%;
		height: 80px;
		border: 2px solid c.$line_color;
		border: none;
		opacity: 1;
		z-index: 1001;
	}
	nav {
		position: relative;
		display: flex;
		width: 100%;
		height: 60px;
		border-top: 1px solid c.$line_color;
		border-bottom: 1px solid c.$line_color;
		flex-wrap: nowrap;
		background-color: c.$header_bg;
		z-index: 1001;
	}
	.nav__items {
		position: absolute;
		top: 17%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-items: center;
		justify-content: space-around;
		flex-wrap: nowrap;
		text-transform: uppercase;
		opacity: 1;
		z-index: 1300;
		font-family: Metropolis-Bold;
		width: auto;
		padding: 0 0 0 2rem;
	}
	.nav__item {
		z-index: 1300;
		width: 10rem;
	}
	.header {
		z-index: 1500;
		display: flex;
		width: 100%;
		height: 140px;
		display: flex;
		border-bottom: 1px solid c.$line_color;
		border-top: 1px solid c.$line_color;
		position: sticky;
		top: 0%;
		width: 100%;
		height: 100px;
		flex-wrap: nowrap;
		background-color: c.$header_bg;
	}

	.header__item {
		z-index: 2000;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: right;
		// justify-content: space-around;
		flex-wrap: nowrap;
		.header__accont {
			padding: 0 1rem 0 1rem;
		}
		.header__basket {
			display: flex;
			border: 0.5px solid c.$line_color;
			cursor: pointer;
			.header__basket-box {
				display: flex;
				justify-content: center;
				padding-top: 1.6rem;
				// padding-left: 1rem;
				padding-right: 0.5rem;
				align-items: center;
			}
		}
		.header__box-left {
			display: flex;
			align-self: center;
		}
		.header__box-right {
			position: relative;
			display: flex;
			align-self: center;
			opacity: 1;
		}
		.icon {
			color: c.$main_color_text;
			font-size: 30px;
			padding: 1.5rem;
		}
		.icon-card {
			border-right: 0.5px solid c.$line_color;
		}
		.icon-right_arrow {
			border-left: 0.5px solid c.$line_color;
			background-color: c.$basket_color;
		}
	}
}
@media screen and (1520px > width > 1250px) {
	.nav__items {
		padding: 0 0 0 4rem;
		justify-content: space-evenly;
		width: auto;
	}
}
@media screen and (1651px > width > 1520px) {
	.nav__items {
		padding: 0 2rem 0 10rem;
		justify-content: space-evenly;
		width: auto;
	}
}
@media screen and (1701px > width > 1651px) {
	.nav__items {
		padding: 0 0rem 0 6rem;
		justify-content: space-between;
		width: 100rem;
	}
}
@media screen and (1801px > width > 1700px) {
	.nav__items {
		padding: 0 0rem 0 3rem;
		justify-content: space-between;
		width: 105rem;
	}
}
@media screen and (1901px > width > 1800px) {
	.nav__items {
		padding: 0 0rem 0 3.5rem;
		justify-content: space-between;
		width: 110rem;
	}
}
@media screen and (width > 1900px) {
	.nav__items {
		padding: 0 0rem 0 3.5rem;
		justify-content: space-between;
		width: 115rem;
	}
}
@media screen and (890px > width) {
	.nav__items {
		padding: 0.2rem;
		font-family: Metropolis-Regular;
		font-size: 15px;
		.nav__item {
			margin-top: 0.7rem;
			padding: 0 0.5rem;
		}
	}
}

@media screen and (550px < width < 721px) {
	.header__item .icon {
		color: c.$main_color_text;
		font-size: 20px;
	}
	.header__item .header_icon {
		color: c.$main_color_text;
		font-size: 20px;
	}
	.header__item {
		font-family: Metropolis-Light;
		font-size: 15px;
	}
	.nav__item {
		font-family: Metropolis-Light;
		font-size: 12px;
	}
	.header__item .header__basket-box .header__basket-box__hidden i {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0;
		font-size: 2rem;
	}
	.header__item .header__basket-box .header__basket-box__hidden p {
		padding-top: 1rem;
		font-family: Metropolis-Light;
	}
	.header__item .icon-card {
		padding: 0 1.5rem;
	}
}

@media screen and (500px < width < 549px) {
	.header__item .icon {
		color: c.$main_color_text;
		font-size: 15px;
	}
	.header__item .header__icon {
		color: c.$main_color_text;
		font-size: 15px;
	}
	.header__item {
		font-family: Metropolis-Light;
		font-size: 13px;
	}
	.nav__item {
		font-family: Metropolis-Light;
		font-size: 10px;
		padding: 0.5rem;
		flex-wrap: nowrap;
	}
}

@media screen and (width > 600px) {
	.header__menu {
		display: none;
	}
	.menu__wrapper {
		display: none;
		width: 0px;
	}
	.header__item .header__basket-box .header__basket-box__hidden i {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	.header__item .header__basket-box .header__basket-box__hidden p {
		padding-top: 1rem;
	}
	.header__item .icon-card {
		padding: 0 1.5rem;
	}
}
@media screen and (width < 600px) {
	.header {
		img {
			display: none;
		}
	}
	.header__item {
		font-family: Metropolis-Light;
		justify-content: space-around;
		font-size: 11px;
		padding: 0;
	}

	.nav__item {
		font-family: Metropolis-Light;
		flex-wrap: nowrap;
	}
	.header__item {
		font-size: 0px;
		justify-items: center;
		align-items: center;
		margin: 0;
		padding: 0 0 0 5rem;
		.header__icon {
			border: none;
			color: c.$main_color_text;
			font-size: 30px;
			opacity: 100;
		}
		.header__box-left {
			display: flex;
			padding: 0;
			margin: 0;
		}
		.header__basket a {
			display: none;
			font-size: 0px;
		}
		.icon {
			border: none;
			color: c.$main_color_text;
			font-size: 30px;
			opacity: 100;
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-evenly;
		}
	}
}
@media screen and (width < 600px) {
	.header__item .header__basket-box .header__basket-box__hidden i {
		display: inline;
		font-family: Metropolis-Light;
		font-size: 15px;
		width: 10rem;
	}
	.header__item .header__basket-box .header__basket-box__hidden p {
		display: none;
		width: 5rem;
		font-family: Metropolis-Light;
		font-size: 15px;
		justify-content: space-around;
	}
}
@media screen and (width < 600px) {
	.header {
		img {
			display: none;
		}
	}
	.header .icon-widok_01:before {
		padding-left: 1rem;
	}
	.header__item .header__basket-box .icon-card:before {
		font-size: 2rem;
		display: flex;
		padding: 0 1rem 0 1rem;
	}
	.header__item .header__basket-box {
		padding: 1rem 4em 1rem 5rem;
		width: 5rem;
	}
}
@media screen and (310px < width < 340px) {
	.header__item .header__basket-box .icon-card:before {
		font-size: 2rem;
		display: flex;
		padding: 0 2.3rem 0 1rem;
	}
	.header .icon-widok_01:before {
		padding: 0;
	}
}
@media screen and (width > 1014px) {
	.header__basket-box .header__basket-box__hidden {
		display: none;
		padding: 0;
	}
}
@media screen and (width < 1014px) {
	.cart__amount,
	.header__item__logo {
		display: none;
	}
	.header__item {
		justify-content: space-between;
		padding: 0 2rem 0 1rem;
	}
	.header__item .header__basket-box {
		padding: 1rem 3.5rem 1rem 5rem;
	}
	.header__item .icon-card {
		border: none;
	}
	.header__item .header__basket-box .price,
	.your__basket {
		display: none;
	}
	.header__item .header__box-left .icon-card {
		display: none;
	}
}

.active {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 80px;
	left: -20%;
	opacity: 100;
	z-index: 1000;
	font-size: 15px;
	.nav__item {
		display: flex;
		font-size: 15px;
		flex-wrap: wrap;
		padding: 10px 0px;
		letter-spacing: 1px;
		word-spacing: 1.5px;
		border-bottom: 2px solid c.$h3_border_color;
		margin-bottom: 30px;
	}
}

.js__logo--fixed {
	position: fixed;
}

.menu__wrapper {
	position: fixed;
	top: 80px;
	left: -30%;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background-color: c.$nav_bg;
	transition: width 0.2s ease-in-out;
}

.deactive--menu {
	width: 0px;
	background-color: rgba($color: white, $alpha: 0);
}

.active--menu {
	z-index: 20;
	width: 100%;
}

.deactive {
	display: none;
	font-size: 0px;
}

@media screen and (width < 420px) {
	.active {
		left: -8%;
	}
	.active--menu {
		width: 120%;
	}
}

.header .icon-right_arrow {
	color: white;
	border-left: none;
	height: 74px;
}

@media screen and (width > 1014px) {
	.header__item a {
		align-items: left;
		padding-left: 0;
		justify-content: left;
	}
}
