@use "./color" as c;
@use "./fonts" as f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	position: relative;
	background-color: #ffffff;
	color: c.$header_bg;
	height:400vh;
}

a {
	text-decoration: none;
	z-index: 10;
	color: c.$main_color_text;
	transition: color 0.3s;
}

a:hover {
	color: c.$hover_text_color;
	transition: color 0.5s;
}
main {
	padding-left: 28.33px;
	padding-right: 28.33px;
	padding-bottom: 100px;
	.section__1 {
		padding-bottom: 45px;
		.paragraphs {
			color: black;
			.paragraph__1 {
				font-size: 44px;
				padding-bottom: 0.1rem;
				padding-top: 1rem;
			}
			.paragraph__2 {
				font-family: regular;
			}
		}
		.expand {
			display: flex;
			flex-direction: row;
			justify-content: end;
			align-items: center;
			padding-top: 1rem;
			padding-right: 7%;
			div {
				background-color: #e1e2e8;
				width: 100%;
				height: 1px;
			}
			p {
				font-weight: bold;
				color: black;
				padding-left: 10px;
				cursor: pointer;
			}
			p:hover {
				opacity: 0.8;
			}
		}
		.bulbs {
			display: flex;
			// justify-content: space-between;
			padding-bottom: 45px;
			padding-top: 15px;
			.bulb {
				position: relative;
				height: 80px;
				width: 246.68px;
				border: solid #e1e2e8 1px;
				margin-right: 8px;
				cursor: pointer;
			}
			img {
				position: absolute;
				height: 100%;
				width: 66px;
				border-right: solid #e1e2e8 1px;
			}
			.red__line {
				position: absolute;
				top: 98%;
				height: 2px;
				width: 65px;
				background-color: #fffffe;
				transition: 0.5s;
			}
			img:hover + .red__line {
				background-color: #f74137;
			}
			p {
				position: absolute;
				top: 40%;
				left: 40%;
				padding-left: 10px;
				color: black;
			}
			p:hover {
				opacity: 0.8;
			}
		}
		.photo {
			position: relative;
			background-image: url("/photos/banner.jpg");
			background-size: cover;
			height: 360px;
			width: 100%;
			padding-bottom: 45px;
			.items__photos {
				background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
				height: 115%;
				position: relative;
				padding-left: 54px;
				padding-top: 93px;
				.paragraphs2 {
					padding-top: 6px;
					font-size: 44px;
					.paragraph__1 {
						font-weight: bold;
					}
					.paragraph__2 {
						padding-bottom: 23.5px;
					}
				}
				.see__more {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 55px;
					width: 200px;
					background-color: #f74137;
					opacity: 0.96;
					cursor: pointer;
					.paragraph__see__more {
						font-weight: bold;
					}
				}
				.see__more:hover {
					opacity: 1;
				}
			}
		}
	}
	.section__2 {
		// position: relative;
		display: flex;
		align-items: center;
		height: 55px;
		width: 100%;
		.view__1 {
			display: flex;
			align-items: center;
			height: 55px;
			width: 100%;
			background-color: #f8f8f8;
			// flex-direction: row;
			// align-items: center;
			.paragraph__view {
				padding: 15px;
			}
			.icon-widok_01 {
				align-self: center;
				padding-right: 30px;
				padding-left: 15px;
				cursor: pointer;
				transition: 0.5s;
			}
			.icon-widok_02 {
				align-self: center;
				font-size: 17px;
				cursor: pointer;
				transition: 0.5s;
			}
			.icon-widok_01:hover {
				opacity: 0.8;
			}
			.icon-widok_02:hover {
				opacity: 0.8;
			}
			.position__right {
				display: flex;
				margin-left: auto;
				.paragraph__sort {
					padding-right: 15px;
					padding-left: 35px;
				}
				form {
					align-self: center;
				}
				.select__1 {
					height: 40px;
					width: 170px;
				}
				.paragraph__quantity {
					padding-right: 15px;
					padding-left: 35px;
				}
				.select__2 {
					height: 40px;
					width: 85px;
				}
				select {
					border: none;
				}
				.squares {
					display: flex;
					align-self: center;
					padding-left: 35px;
					cursor: pointer;
					.square {
						display: flex;
						justify-content: center;
						height: 40px;
						align-items: center;
						width: 40px;
						background-color: #ffffff;
						margin-right: 5px;
						transition: 1s;
					}
					.square:hover {
						background-color: #f74137;
					}
				}
			}
		}
		.view__2 {
			display: flex;
			align-items: center;
			height: 55px;
			width: 100%;
			background-color: #f8f8f8;
			// flex-direction: row;
			// align-items: center;
			.paragraph__view {
				padding: 15px;
			}
			.icon-widok_01 {
				align-self: center;
				padding-right: 30px;
				padding-left: 15px;
				cursor: pointer;
				transition: 0.5s;
			}
			.icon-widok_02 {
				align-self: center;
				font-size: 17px;
				cursor: pointer;
				transition: 0.5s;
			}
			.icon-widok_01:hover {
				opacity: 0.8;
			}
			.icon-widok_02:hover {
				opacity: 0.8;
			}
			.position__right {
				display: flex;
				margin-left: auto;
				.paragraph__sort {
					padding-right: 15px;
					padding-left: 35px;
				}
				form {
					align-self: center;
				}
				.select__1 {
					height: 40px;
					width: 170px;
				}
				.paragraph__quantity {
					padding-right: 15px;
					padding-left: 35px;
				}
				.select__2 {
					height: 40px;
					width: 85px;
				}
				select {
					border: none;
				}
				.squares {
					display: flex;
					align-self: center;
					padding-left: 35px;
					cursor: pointer;
					.square {
						display: flex;
						justify-content: center;
						height: 40px;
						align-items: center;
						width: 40px;
						background-color: #ffffff;
						margin-right: 5px;
						transition: 1s;
					}
					.square:hover {
						background-color: #f74137;
					}
				}
			}
		}
		p {
			color: #111111;
			font-weight: bold;
			align-self: center;
		}
		i {
			color: #323940;
		}
	}
	.section__3{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		// background-color: #f8f8f8;
		// gap: 3px;
		color: #111111;
	}
}

@media screen and (991px > width) {
	.section__1 {
		position: absolute;
		top: 7.8%;
	}
	.nav2{
		position: absolute;
		top: 5.3%;
	}
	.photo {
		background-position: center;
	}
	.bulbs {
		display: flex;
		flex-wrap: wrap;
		// gap: 1px;
		.bulb {
			flex: 1 1 0;
			min-width: 300px;
		}
	}
	.section__3{
		position: absolute;
		top: 40%;
	}
	.view__1{
		position: relative;
		top: 57rem;
	}
	.view__2{
		position: relative;
		top: 190rem;
	}
	footer{
		position: absolute;
		top: 123%;
	}
	.section__3{
		// position: absolute;
		// left: 20%;
	}
}
@media screen and (width < 953px){
	.view__1 {
		position: absolute;
		top: 40%;
	}
	.view__2 {
		position: absolute;
		top: 167%;
	}
	// .nav2{
	// 	position: absolute;
	// 	top: 5.3%;
	// }
	// .photo {
	// 	background-position: center;
	// }
	// .bulbs {
	// 	display: flex;
	// 	flex-wrap: wrap;
	// 	// gap: 1px;
	// 	.bulb {
	// 		flex: 1 1 0;
	// 		min-width: 300px;
	// 	}
	// }
	// .section__3{
	// 	position: absolute;
	// 	top: 40%;
	// }
	.section__3{
		position: relative;
		top: 65rem;
	}
	// .view__2{
	// 	position: relative;
	// 	top: 190rem;
	// }
	footer{
		position: absolute;
		top: 170%;
	}
	.section__3{
		// position: absolute;
		// left: 20%;
	}
}
// @media screen and (991px > width) {
// 	.section__1{
// 		position: absolute;
// 		top: 11.8%;
// 	}
// 	.photo{
// 		background-position: center;
// 	}
// }