@use "./color" as c;
@use "./fonts" as f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	font-family: Metropolis-MediumItalic;
	position: relative;
	background-color: #f2f3f4;
	color: c.$main_color_text;
	height: 600vh;
}

a {
	text-decoration: none;
	z-index: 10;
	color: c.$main_color_text;
	transition: color 0.3s;
}

a:hover {
	color: c.$hover_text_color;
	transition: color 0.5s;
}

.main_banner {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: auto;
	margin-top: 5rem;
}

.main_banner-img {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	width: 100%;
	height: 99%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	p {
		margin: 0;
		padding-left: 8rem;
	}
	button {
		font-family: Metropolis-Bold;
	}
}

.banner_container {
	position: relative;
	img {
		max-width: 100%;
	}
}

.main_banner-img .main_p {
	font-family: Metropolis-Bold;
	font-size: 2.5rem;
}

.main_banner-img .main_p_second {
	font-family: Metropolis-Light;
	font-size: 2.5rem;
}

.main_banner-img .main_p_third {
	font-family: Metropolis-Light;
	font-size: 1.25rem;
	max-width: 40rem;
	margin: 1.5rem 0;
}

.main_banner-img-second {
	background-image: url(../photos/img_08.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: cover;
}

.banner_control-left {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1.3rem 1.3rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.24);
	cursor: pointer;
	margin: auto 0;
	transition: 0.5s;
	img {
		width: 1rem;
	}
}
.banner_control-right {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1.3rem 1.3rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	margin: auto 0 auto auto;
	transition: 0.5s;
	img {
		width: 1rem;
	}
}

.banner_control-left,
.banner_control-right {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	.icon-left_arrow,
	.icon-right_arrow {
		color: #323940;
	}
}

.main_banner-img button {
	background-color: #f74137;
	padding: 1rem 2.5rem;
	color: white;
	border: none;
	max-width: fit-content;
	margin-left: 8rem;
	cursor: pointer;
	transition: 0.4s;
}

.active__banner--one {
	position: absolute;
	display: none;
}

.active__banner--two {
	position: absolute;
	display: none;
}

@media screen and (width < 900px) {
	.secondary__banner__section {
		flex-wrap: wrap;
	}
}

.main_banner-img button:hover {
	scale: 1.07;
}

.banner_control-left:hover {
	background-color: #f2f3f460;
	scale: 1.07;
	transition: scale 0.3s;
}

.banner_control-right:hover {
	background-color: #f2f3f460;
	scale: 1.07;
	transition: scale 0.3s;
}

.see {
	position: absolute;
	left: -110%;
	transform: translateX(110%);
	transition: 0.5s;
}

.saw {
	position: absolute;
	left: -110%;
	transform: translateX(110%);
	transition: 0.5s;
}
// Main banner pierwsze zdjecie

@media screen and (min-width: 992px) {
	.main_banner {
		margin-top: 1.7rem;
	}
}

@media screen and (550px < width < 721px) {
	.main_banner-img .main_p {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img .main_p_second {
		font-family: Metropolis-Light;
		font-size: 2rem;
	}
	.main_banner-img .main_p_second {
		font-family: Metropolis-Regular;
		font-size: 0.75rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}
@media screen and (625px < width < 721px) {
	.main_banner-img .main_p {
		font-family: Metropolis-Bold;
		font-size: 1.8rem;
	}

	.main_banner-img .main_p_second {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img .main_p_third {
		font-family: Metropolis-Light;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (550px < width < 625px) {
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (550px < width < 550px) {
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (width<550px) {
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}
@media screen and (width < 375px) {
	.main_banner-img p:first-of-type {
		font-size: 1rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 0px;
	}
	.main_banner-img p:nth-of-type(3) {
		font-size: 0px;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		font-size: 15px;
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		margin-bottom: 1px;
		cursor: pointer;
		transition: 0.4s;
	}
}
//Main banner koniec
// Main banner drugie zdjecie
@media screen and (min-width: 992px) {
	.main_banner {
		margin-top: 1.7rem;
	}
}

@media screen and (550px < width < 721px) {
	.main_banner-img .main_p {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img .main_p_second {
		font-family: Metropolis-Light;
		font-size: 2rem;
	}
	.main_banner-img .main_p_second {
		font-family: Metropolis-Regular;
		font-size: 0.75rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}
@media screen and (625px < width < 721px) {
	.main_banner-img .main_p {
		font-family: Metropolis-Bold;
		font-size: 1.8rem;
	}

	.main_banner-img .main_p_second {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img .main_p_third {
		font-family: Metropolis-Light;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (550px < width < 625px) {
	.main_banner-img p:nth-of-type(4) {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(5) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:last-of-type {
		font-family: Metropolis-Regular;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (550px < width < 550px) {
	.main_banner-img p:nth-of-type(4) {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(5) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:last-of-type {
		font-family: Metropolis-Regular;
		font-size: 0.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (width<550px) {
	.main_banner-img p:nth-of-type(4) {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(5) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:last-of-type {
		font-family: Metropolis-Regular;
		font-size: 0.7rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}
@media screen and (width < 375px) {
	.main_banner-img p:nth-of-type(4) {
		font-size: 1rem;
	}

	.main_banner-img p:nth-of-type(5) {
		font-family: Metropolis-Light;
		font-size: 0px;
	}
	.main_banner-img p:last-of-type {
		font-size: 0px;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		font-size: 15px;
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		margin-bottom: 1px;
		cursor: pointer;
		transition: 0.4s;
	}
}
// Main banner koniec
.secondary__banner__section {
	display: flex;
	justify-content: space-around;
}
.secondary__banner {
	display: inline-flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem 1rem 1rem;
	/* width: 100%; */
	gap: 1rem;
	max-height: 20rem;
	overflow: hidden;
	transition: 0.4s;
}
.secondary__banner__container__1,
.secondary__banner__container__2,
.secondary__banner__container__3 {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	min-height: 20rem;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.quick__helpers__option {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 0 2rem;
}
.quick__helpers__option > p {
	margin: 0;
	padding-bottom: 01rem;
	padding-left: 2rem;
}
.secondary__banner__container__1 {
	background-image: url("../photos/img_02.jpg");
	background-position: right;
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	// flex-direction: row;
	position: relative;
	justify-content: center;
	// background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__2 {
	background-image: url("../photos/img_03.jpg");
	position: relative;
	// display: flex;
	// align-self: center;
	// flex-wrap: wrap;
	// background-attachment: fixed;
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: bottom;
	// // flex-direction: row;
	// position: relative;
	// justify-content: center;
	// // background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__3 {
	background-image: url("../photos/img_05.jpg");
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	// flex-direction: row;
	position: relative;
	justify-content: center;
	// background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__1:hover {
	scale: 1.05;
}
.secondary__banner__container__2:hover {
	scale: 1.05;
}
.secondary__banner__container__3:hover {
	scale: 1.05;
}
.quick__helpers__option {
	button {
		background-color: transparent;
		color: white;
		border: 1px solid #ffff;
		padding: 1rem 2rem;
		max-width: fit-content;
		margin-left: 2rem;
		margin-top: 1.5rem;
		transition: 0.5s;
		cursor: pointer;
	}
	button {
		font-family: Metropolis-Bold;
	}
	button:hover {
		background-color: #f74137;
	}
	p {
		padding-bottom: auto auto 5rem auto;
		font-size: 1.5rem;
	}
	p:first-of-type {
		font-family: Metropolis-Bold;
		letter-spacing: 0.5px;
		font-size: 2rem;
		padding: 0 0 0 2rem;
	}
	p:last-of-type {
		font-family: Metropolis-Light;
		font-size: 1.75rem;
		letter-spacing: 1px;
		padding: 0 0 0 2rem;
	}
}

.recomendations {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	h1 {
		padding-top: 20px;
		font-family: Metropolis-Bold;
		width: 100%;
		text-align: center;
		border-bottom: 1px solid #ccc;
		padding-bottom: 1rem;
		display: flex;
		color: c.$main_color_text;
		flex-direction: column;
		align-items: center;
	}
	h1::after {
		content: "";
		position: absolute;
		top: 7%;
		width: 3rem;
		height: 0.2rem;
		background-color: #f74137;
		margin-top: 1rem;
	}
}

.recomendations__products {
	padding: 1rem;
	display: flex;
	overflow-x: auto;
	gap: 1rem;
}

.recomendations__products-prod {
	transform: translateY(0%);
	background-color: white;
	width: fit-content;
	padding: 1rem 1.5rem 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	cursor: pointer;
	transition: transform 0.5s ease-in-out, color 0.5s;
}

.recomendations__products-prod:hover {
	color: c.$hover_text_color;
	.recomendations__products-prod-info,
	.recomendations__products-prod-price {
		transform: translateY(-120%);
		transition: transform 0.5s ease-in-out;
	}
}

.recomendations__products-prod:hover {
	scale: 1.01;
}

.recomendations__products-prod-price {
	transform: translateY(0%);
	transition: transform 0.5s ease-in-out;
}

.recomendations__products-prod-info {
	transform: translateY(0%);
	transition: transform 0.5s ease-in-out;
	text-align: center;
	p {
		margin: 0.1rem;
	}
	p:first-of-type {
		font-weight: bold;
		font-size: 0.95rem;
	}
	p:nth-of-type(2) {
		font-size: 0.85rem;
	}
}

.recomendations__products-prod-price > p {
	font-weight: bold;
	margin: 0;
}
.recomendations__products-prod-price > s {
	color: c.$crossed_text;
}

.inspiration__btn {
	background-color: #f74137;
	color: white;
	padding: 1rem 3rem;
	border: none;
	margin: 3rem auto;
	cursor: pointer;
	transition: 0.4s;
}

.insp__wrapper {
	width: 100%;
	display: flex;
	align-items: center;
	transition: 0.4s;
}
.inspiration__btn:hover {
	scale: 1.01;
}

.why__us {
	position: relative;
	background: url("../photos/img_07.jpg");
	min-height: 35rem;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
}
.why__us-cover {
	background: rgba(0, 0, 0, 0.35);
	width: 100%;
	min-height: 35rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.why__us-cover {
	h1 {
		font-family: metropolis-bold;
		margin-top: 4rem;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid rgb(155, 155, 155);
		width: 100%;
		align-items: center;
		padding-bottom: 1rem;
	}
	h1::after {
		position: absolute;
		top: 5.45rem;
		content: " ";
		width: 3rem;
		height: 0.2rem;
		background-color: #f74137;
		margin-top: 1rem;
	}
}

.why__us-cover > p {
	padding: 1rem;
	max-width: 55rem;
	text-align: center;
}

.advantages__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
}

@media screen and (width < 820px) {
	.advantages__container {
		grid-template-columns: 1fr;
	}
}

.advantages__op {
	border: 1px solid rgb(171, 171, 171);
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.advantages__op > p {
	margin: 0;
	margin-top: 1.5rem;
}

@media screen and (width < 700px) {
	.advantages__op {
		grid: none;
		/* grid-template-columns: 1tr 1tr 1tr; */
	}
}

@media screen and (width < 825px) {
	.why__us-cover {
		grid: none;
	}
}

//git
