@use "./color" as c;
@use "./fonts" as f;
@use "./footer" as *;
@use "./header" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	position: relative;
	font-family: Metropolis-Bold;
	background-color: #F2F3F4;
	color: c.$header_bg;
	height: 300vh;
}

a {
	text-decoration: none;
	z-index: 10;
	color: c.$main_color_text;
	transition: color 0.3s;
}

a:hover {
	color: c.$hover_text_color;
	transition: color 0.5s;
}

.main_banner {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: auto;
	margin-top: 5rem;
}

.main_banner-img {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	width: 100%;
	height: 99%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	p {
		margin: 0;
		padding-left: 8rem;
	}
	button{
		font-family: Metropolis-Bold;
	}
}

.banner_container {
	position: relative;
	img {
		max-width: 100%;
	}
}

.main_banner-img p:first-of-type {
	font-family: Metropolis-Bold;
	font-size: 2.5rem;
}

.main_banner-img p:nth-of-type(2) {
	font-family: Metropolis-Light;
	font-size: 2.5rem;
}

.main_banner-img p:nth-of-type(3) {
	font-family: Metropolis-Regular;
	font-size: 1.25rem;
	max-width: 40rem;
	margin: 1.5rem 0;
}

.main_banner-img-second {
	background-image: url(../photos/img_08.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: cover;
}

.banner_control-left {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1.3rem 1.3rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.24);
	cursor: pointer;
	margin: auto 0;
	transition: 0.5s;
	img {
		width: 1rem;
	}
}
.banner_control-right {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1.3rem 1.3rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	margin: auto 0 auto auto;
	transition: 0.5s;
	img {
		width: 1rem;
	}
}

.main_banner-img button {
	background-color: #f74137;
	padding: 1rem 2.5rem;
	color: white;
	border: none;
	max-width: fit-content;
	margin-left: 8rem;
	cursor: pointer;
	transition: 0.4s;
}

.check__why__us {
	height: 595px;
	width: 100%;
	.bg__why__us {
		background-image: url("../photos/img_07.jpg");
		background-attachment: fixed;
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 595px;
		width: 100%;
		.why__us {
			font-family: Metropolis-Bold;
			font-size: 44px;
			color: white;
			text-align: center;
			padding-top: 70px;
			padding-bottom: 20px;
		}
		.line__red {
			display: flex;
			flex-direction: row;
			justify-content: center;
			height: 1px;
			width: 100%;
			background-color: #e1e2e8;
			.line__grey {
				height: 3px;
				width: 60px;
				background-color: #f74137;
				border-radius: 25px;
			}
		}

		.why__us2 {
			font-family: Metropolis-Regular;
			font-size: 18px;
			color: white;
			text-align: center;
			padding-top: 3.3rem;
			padding-bottom: 0.99rem;
		}
		.banners {
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			.fast__shipping {
				height: 153px;
				width: 310px;
				padding-top: 0.8rem;
				border: 1px solid #ffffff85;
				margin-left: 10px;
				margin-right: 10px;
				.picture1 {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-top: 0.8rem;
					img {
						height: 4rem;
						
					}
				}
				.paragraph1 {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: -2rem;
					p {
						font-family: Metropolis-Bold;
						font-size: 14px;
						color: white;
						margin-top: 3.4rem;
					}
				}
			}
			.wide__range {
				height: 153px;
				width: 310px;
				padding-top: 0.8rem;
				border: 1px solid #ffffff85;
				margin-right: 10px;
				.picture2 {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-top: 0.8rem;
					img {
						height: 4rem;
					}
				}
				.paragraph2 {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: -2rem;
					p {
						font-family: Metropolis-Bold;
						font-size: 14px;
						color: white;
						margin-top: 3.4rem;
					}
				}
			}
			.safe__return {
				height: 153px;
				width: 310px;
				padding-top: 0.2rem;
				border: 1px solid #ffffff85;
				margin-right: 10px;
				.picture3 {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-top: 0.8rem;
					img {
						height: 4.6rem;
					}
				}
				.paragraph3 {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: -2rem;
					p {
						font-family: Metropolis-Bold;
						font-size: 14px;
						color: white;
						margin-top: 3.4rem;
					}
				}
			}
		}
		.company__information {
			display: flex;
			justify-content: center;
			justify-items: center;
			padding-top: 2rem;
			
			.rectangle__company__information {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 55px;
				width: 246px;
				background-color: #f74137;
				opacity: 0.94;
				cursor: pointer;
				transition: 0.5s;
				p {
					font-family: Metropolis-Bold;
					color: white;
				}
			}
			.rectangle__company__information:hover {
				opacity: 1;
				scale: 1.01;
			}
		}
	}
}
.rectangle__inspiration {
	display: flex;
	justify-content: center;
	padding-top: 2.77rem;
	.see__all__inspirations {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 55px;
		width: 318px;
		margin-bottom: 30px;
		background-color: #f74137;
		opacity: 0.94;
		transition: .5s;
		cursor: pointer;
		p {
			font-family: Metropolis-Bold;
			color: #ffffff;
			font-size: 14px;
		}
	}
	.see__all__inspirations:hover{
		opacity: 1;
		scale: 1.01;
	}
}

.main_banner-img button:hover {
	scale: 1.01;
}

.banner_control-left:hover {
	background-color: #f2f3f460;
}

.banner_control-right:hover {
	background-color: #f2f3f460;
}

.see {
	position: absolute;
	display: none;
}

.saw {
	position: absolute;
	display: none;
}

@keyframes slide {
}

@media screen and (min-width: 992px) {
	.main_banner {
		margin-top: 1.7rem;
	}
}

@media screen and (550px < width < 721px) {
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.75rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (500px < width < 549px) {
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (548px < width < 551px) {
    .main_banner-img p:first-of-type {
        font-family: Metropolis-Bold;
        font-size: 1.5rem;
    }

    .main_banner-img p:nth-of-type(2) {
        font-family: Metropolis-Light;
        font-size: 1.5rem;
    }
    .main_banner-img p:nth-of-type(3) {
        font-family: Metropolis-Regular;
        font-size: 0.5rem;
        max-width: 20rem;
        margin: 0.5rem 0;
    }
    .main_banner-img p {
        margin: 0;
        padding-left: 5rem;
    }
    .main_banner-img button {
        background-color: #f74137;
        padding: 0.3rem 0.3rem;
        color: white;
        border: none;
        max-width: fit-content;
        margin-left: 5rem;
        cursor: pointer;
        transition: 0.4s;
    }
}
@media screen and (width < 375px) {
	.main_banner-img p:first-of-type {
		font-size: 0px;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 0px;
	}
	.main_banner-img p:nth-of-type(3) {
		font-size: 0px;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		font-size: 15px;
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		margin-bottom: 1px;
		cursor: pointer;
		transition: 0.4s;
	}
}
.secondary__banner__section{
	display: flex;
	justify-content: space-around;
}
.secondary__banner {
	display: inline-flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 0 1rem 1rem;
	/* width: 100%; */
	gap: 1rem;
	max-height: 20rem;
	overflow: hidden;
	transition: 0.4s;
}
.secondary__banner__container__1,.secondary__banner__container__2,.secondary__banner__container__3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 20rem;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.quick__helpers__option {
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0 0 2rem;
}
.quick__helpers__option > p {
	margin: 0;
	padding-bottom: 01rem;
	padding-left: 2rem;
}
.secondary__banner__container__1 {
	background-image: url("../photos/img_02.jpg");
	background-position: right;
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	// flex-direction: row;
	position: relative;
	justify-content: center;
	// background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__2 {
	background-image: url("../photos/img_03.jpg");
	position: relative;
	// display: flex;
	// align-self: center;
	// flex-wrap: wrap;
	// background-attachment: fixed;
	background-repeat: no-repeat;
	// background-size: cover;
	background-position: bottom;
	// // flex-direction: row;
	// position: relative; 
	// justify-content: center;
	// // background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__3 {
	background-image: url("../photos/img_05.jpg");
	display: flex;
	align-self: center;
	flex-wrap: wrap;
	// flex-direction: row;
	position: relative; 
	justify-content: center;
	// background-size: cover;
	width: 600px;
	height: 400px;
	transition: 0.4s;
}
.secondary__banner__container__1:hover {
	scale: 1.01;
}
.secondary__banner__container__2:hover {
	scale: 1.01;
}
.secondary__banner__container__3:hover {
	scale: 1.01;
}
.quick__helpers__option {
	button{
	background-color: transparent;
	color: white;
	border: 1px solid #ffff;
	padding: 1rem 2rem;
	max-width: fit-content;
	margin-left: 2rem;
	margin-top: 1.5rem;
	transition: 0.5s;
	cursor: pointer;
	}
	button{
		font-family: Metropolis-Bold;
	}
	button:hover{
		background-color: #f74137;
	}
	p{
		padding-bottom: auto auto 5rem auto;
		font-size: 1.5rem;
	}
	p:first-of-type{
		font-family: Metropolis-Bold;
		letter-spacing: 0.5px;
		font-size: 2rem;
		padding: 0 0 0 2rem;
	}
	p:last-of-type{
		font-family: Metropolis-Light;
		font-size: 1.75rem;
		letter-spacing: 1px;
		padding: 0 0 0 2rem;
	}
}