@use "./color" as c;
@use "./fonts" as f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}

body {
	position: relative;
	background-color: #ffffff;
	color: c.$header_bg;
	height: 300vh;
}

a {
	text-decoration: none;
	z-index: 10;
	color: c.$main_color_text;
	transition: color 0.3s;
}

a:hover {
	color: c.$hover_text_color;
	transition: color 0.5s;
}
main{
	.section__1{
		.paragraphs{
			.paragraph__1{

			}
			.paragraph__2{

			}
		}
		.expand{
			div{

			}
			p{

			}
		}
		.types__of__light__bulbs{
			.light__bulb1{
				.photo1{
				}
				.p{
				}
			}
			.light__bulb2{
				.photo2{
				}
				.p{
				}
			}
			.light__bulb3{
				.photo3{
				}
				.p{
				}
			}
			.light__bulb4{
				.photo4{
				}
				.p{
				}
			}
			.light__bulb5{
				.photo5{
				}
				.p{
				}
			}
			.light__bulb6{
				.photo6{
				}
				.p{
				}
			}
		}
		.photo{
			.paragraphs2{
				.paragraph__1{

				}
				.paragraph__2{

				}
			}
			.see__more{
				
			}
		}
	}
}