@use "./color" as c;
@use "./fonts" as f;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: Metropolis-Bold;
	background-color: #f2f3f4;
	color: c.$header_bg;
	height: 3122px;
}

a {
	text-decoration: none;
	z-index: 10;
	color: c.$main_color_text;
	transition: color 0.3s;
}

a:hover {
	color: c.$hover_text_color;
	transition: color 0.3s;
}

.header_contact {
	z-index: 100;
}
.header_favorite {
	z-index: 100;
}
.header_accont {
	z-index: 100;
}
.header {
	position: fixed;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 100px;
	border-top: 1px solid c.$main_color_text;
	border-bottom: 1px solid c.$main_color_text;
	flex-wrap: wrap;
	background-color: c.$header_bg;
	z-index: 1500;
}

.header_logo-mobile {
	margin: 1rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	opacity: 1;
	background-color: c.$header_bg;
}

.header_item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	text-transform: uppercase;
	.header_logo {
		position: absolute;
		opacity: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 2rem;
	}
	.header_accont {
		padding-right: 1rem;
	}
	.header_basket {
		display: flex;
		cursor: pointer;
		.header_basket-box {
			display: flex;
			justify-content: center;
			padding: 1rem;
			align-items: center;
		}
	}
	.header_box-left {
		display: flex;
		align-self: center;
	}
	.header_box-right {
		position: absolute;
		display: flex;
		align-self: center;
		opacity: 0;
	}
	.icon {
		color: c.$main_color_text;
		font-size: 30px;
		padding: 1rem;
	}
	.header_icon {
		font-size: 30px;
		padding: 0.1rem;
	}
	.icon-card {
		border-right: 1px solid c.$main_color_text;
	}
	.icon-right_arrow {
		width: 1px;
		border-left: 1px solid c.$main_color_text;
		background-color: rgb(42, 194, 42);
	}
}

.nav_logo {
	position: relative;
	width: 100%;
	height: 140px;
	background-color: c.$header_bg;
	border-bottom: 1px solid c.$line_color;
	border-top: 1px solid c.$line_color;
	opacity: 1;
}
.nav_logo-second {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid c.$line_color;
	border-top: 1px solid c.$line_color;
	opacity: 1;
}

nav {
	position: relative;
	bottom: 0;
	display: flex;
	width: 100%;
	height: 60px;
	border-top: 1px solid c.$line_color;
	border-bottom: 1px solid c.$line_color;
	flex-wrap: wrap;
	background-color: c.$header_bg;
}
.nav_items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0.2rem;
	flex-wrap: nowrap;
	text-transform: uppercase;
	.nav_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0.7rem;
		padding: 0 1rem;
	}
}

.footer {
	position: absolute;
	bottom: 100px;
	width: 100%;
	background-color: c.$footer_bgc;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2rem;
	gap: 3rem;
	color: white;
	.footer_section {
		display: flex;
		flex-direction: column;
		margin-right: 4rem;
		h3 {
			width: 100%;
			border-bottom: 1px solid c.$h3_border_color;
			position: relative;
			padding-bottom: 2rem;
			.orange_mark {
				position: absolute;
				left: 0;
				bottom: -1px;
				z-index: 2;
				width: 30px;
				height: 1px;
				color: orangered;
				background-color: orangered;
			}
		}
		a {
			display: grid;
			gap: 2rem;
			padding: 0;
			margin-top: 1.5rem;
			font-size: 0.8rem;
			color: rgb(184, 180, 180);
		}
	}
}
.footer_end {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.cr_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.fac_text {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.main_banner {
	display: flex;
	justify-content: center;
	padding: 1rem;
	margin: auto;
	margin-top: 5rem;
}

.main_banner-img {
	position: absolute;
	top: 0;
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
	width: 100%;
	height: 99%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	p {
		margin: 0;
		padding-left: 10rem;
	}
}

.banner_container {
	position: relative;
	img {
		max-width: 100%;
	}
}

.main_banner-img p:first-of-type {
	font-family: Metropolis-Bold;
	font-size: 2.5rem;
}

.main_banner-img p:nth-of-type(2) {
	font-family: Metropolis-Light;
	font-size: 2.5rem;
}

.main_banner-img p:nth-of-type(3) {
	font-family: Metropolis-Regular;
	font-size: 1.25rem;
	max-width: 40rem;
	margin: 1.5rem 0;
}

.main_banner-img-second {
	background-image: url(../photos/img_08.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: cover;
}

.banner_control-left {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1rem 1.5rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	margin: auto 0;
	transition: scale 0.5s;
	img {
		width: 1rem;
	}
}
.banner_control-right {
	z-index: 30;
	width: fit-content;
	height: fit-content;
	padding: 1rem 1.5rem;
	position: absolute;
	inset: 0;
	background-color: rgba(255, 255, 255, 0.5);
	cursor: pointer;
	margin: auto 0 auto auto;
	transition: scale 0.5s;
	img {
		width: 1rem;
	}
}

.main_banner-img button {
	background-color: #f74137;
	padding: 1rem 2.5rem;
	color: white;
	border: none;
	max-width: fit-content;
	margin-left: 10rem;
	cursor: pointer;
	transition: 0.4s;
}

.main_banner-img button:hover {
	scale: 1.07;
}

.banner_control-left:hover {
	scale: 1.07;
}

.banner_control-right:hover {
	scale: 1.07;
}

.see {
	width: 0px;
	position: absolute;
	opacity: 0%;
}

.saw {
	width: 0px;
	position: absolute;
	opacity: 0%;
}

@keyframes slide {
}

@media screen and (min-width: 862px) {
	h3 span {
		display: none;
	}
}

@media screen and (min-width: 992px) {
	.header_logo-mobile {
		opacity: 0;
	}
	.nav_logo {
		width: 100%;
		height: 80px;
		border: 2px solid c.$line_color;
		border: none;
		opacity: 1;
	}
	nav {
		position: relative;
		display: flex;
		width: 100%;
		height: 60px;
		border-top: 1px solid c.$line_color;
		border-bottom: 1px solid c.$line_color;
		flex-wrap: wrap;
		background-color: c.$header_bg;
	}
	.nav_items {
		position: absolute;
		top: 20%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		text-transform: uppercase;
		opacity: 1;
	}
	.nav_item {
		z-index: 100;
	}
	.header {
		z-index: 1500;
		display: flex;
		width: 100%;
		height: 140px;
		display: flex;
		border-bottom: 1px solid c.$line_color;
		border-top: 1px solid c.$line_color;
		position: sticky;
		top: 0%;
		width: 100%;
		height: 100px;
		flex-wrap: nowrap;
		background-color: c.$header_bg;
	}

	.header_item {
		z-index: 20;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: nowrap;
		.header_logo {
			position: relative;
			opacity: 1;
			display: flex;
			justify-content: left;
			align-items: center;
			margin: 2rem;
		}
		.header_accont {
			padding-right: 1rem;
		}
		.header_basket {
			display: flex;
			border: 1px solid c.$main_color_text;
			cursor: pointer;
			.header_basket-box {
				display: flex;
				justify-content: center;
				padding: 1rem;
				align-items: center;
			}
		}
		.header_box-left {
			display: flex;
			align-self: center;
		}
		.header_box-right {
			position: relative;
			display: flex;
			align-self: center;
			opacity: 1;
		}
		.icon {
			color: c.$main_color_text;
			font-size: 30px;
			padding: 1.5rem;
		}
		.icon-card {
			border-right: 1px solid c.$main_color_text;
		}
		.icon-right_arrow {
			border-left: 1px solid c.$main_color_text;
			background-color: lime;
		}
	}
	.footer {
		position: absolute;
		bottom: 40px;
		width: 100%;
		background-color: c.$footer_bgc;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: 2rem;
		gap: 3rem;
		color: white;
		.footer_section {
			display: flex;
			flex-direction: column;
			margin-right: 4rem;
			h3 {
				width: 100%;
				border-bottom: 1px solid c.$h3_border_color;
				position: relative;
				padding-bottom: 2rem;
				.orange_mark {
					position: absolute;
					left: 0;
					bottom: -1px;
					z-index: 2;
					width: 30px;
					height: 1px;
					color: orangered;
					background-color: orangered;
				}
			}
			a {
				display: grid;
				gap: 2rem;
				padding: 0;
				margin-top: 1.5rem;
				font-size: 0.8rem;
				color: rgb(184, 180, 180);
			}
			a:hover {
				color: c.$hover_text_color;
			}
		}
	}
	.main_banner {
		margin-top: 1.7rem;
	}
}

@media screen and (width < 860px) {
	.footer {
		grid: none;
	}
	.ArrowRotate span {
		rotate: 180deg;
		top: 20px;
	}
	.footer_section span {
		position: absolute;
		right: 0;
		font-size: 40px;
		transform: rotate(-180deg);
		transition: 0.6s;
	}
	a {
		z-index: 10;
	}
}

@media screen and (890px > width) {
	.nav_items {
		padding: 0.2rem;
		font-family: Metropolis-Regular;
		font-size: 15px;
		.nav_item {
			margin-top: 0.7rem;
			padding: 0 0.5rem;
		}
	}
}

@media screen and (550px < width < 721px) {
	.header_item .icon {
		color: c.$main_color_text;
		font-size: 20px;
	}
	.header_item .header_icon {
		color: c.$main_color_text;
		font-size: 20px;
	}
	.header_item {
		font-family: Metropolis-Light;
		font-size: 15px;
	}
	.nav_item {
		font-family: Metropolis-Light;
		font-size: 12px;
	}
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.75rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.5rem 0.5rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (500px < width < 549px) {
	.header_item .icon {
		color: c.$main_color_text;
		font-size: 15px;
	}
	.header_item .header_icon {
		color: c.$main_color_text;
		font-size: 15px;
	}
	.header_item {
		font-family: Metropolis-Light;
		font-size: 13px;
	}
	.nav_item {
		font-family: Metropolis-Light;
		font-size: 10px;
		padding: 0.5rem;
		flex-wrap: nowrap;
	}
	.main_banner-img p:first-of-type {
		font-family: Metropolis-Bold;
		font-size: 1.5rem;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 1.5rem;
	}
	.main_banner-img p:nth-of-type(3) {
		font-family: Metropolis-Regular;
		font-size: 0.5rem;
		max-width: 20rem;
		margin: 0.5rem 0;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		cursor: pointer;
		transition: 0.4s;
	}
}

@media screen and (width < 500px) {
	.header_item {
		font-family: Metropolis-Light;
		font-size: 11px;
	}
	.nav_item {
		font-family: Metropolis-Light;
		font-size: 0px;
		flex-wrap: nowrap;
		opacity: 0;
	}
	.header_item {
		font-size: 0px;
		.icon {
			border: none;
			color: c.$main_color_text;
			font-size: 30px;
			opacity: 100;
		}
		.header_icon {
			border: none;
			color: c.$main_color_text;
			font-size: 30px;
			opacity: 100;
		}
	}
	.main_banner-img p:first-of-type {
		font-size: 15px;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 15px;
	}
	.main_banner-img p:nth-of-type(3) {
		font-size: 0px;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		font-size: 12px;
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		margin-bottom: 1px;
		cursor: pointer;
		transition: 0.4s;
	}
}

.footer-section a:hover {
	color: c.$hover_text_color;
}

@media screen and (width < 375px) {
	.main_banner-img p:first-of-type {
		font-size: 0px;
	}

	.main_banner-img p:nth-of-type(2) {
		font-family: Metropolis-Light;
		font-size: 0px;
	}
	.main_banner-img p:nth-of-type(3) {
		font-size: 0px;
	}
	.main_banner-img p {
		margin: 0;
		padding-left: 5rem;
	}
	.main_banner-img button {
		font-size: 15px;
		background-color: #f74137;
		padding: 0.3rem 0.3rem;
		color: white;
		border: none;
		max-width: fit-content;
		margin-left: 5rem;
		margin-bottom: 1px;
		cursor: pointer;
		transition: 0.4s;
	}
}

.footer__list {
	list-style: none;
	li {
		display: none;
	}
	h3 {
		cursor: pointer;
	}
}

.ShowPop {
	li {
		display: flex;
		animation: 1.5s linear both slide;
	}
}

@keyframes slide {
	from {
		max-height: 0%;
	}
	to {
		max-height: 100%;
	}
}

.footer__list span {
	display: none;
}
